@tailwind utilities;

:root {
  --font-Poppins: 'Poppins', sans-serif;

  /* Colors */
  --tenderness-yellow: #fffacd;
  --affection-rose: #ffe4e1;
  --adoration-lavender: #e6e6fa;
  --serenity-cyan: #e0ffff;
  --caring-peach: #ffdab9;
  --innocence-pink: #ffc0cb;
  --purity-ivory: #f0fff0;
  --trust-blue: #add8e6;
  --soft-passion-salmon: #ffa07a;
  --freshness-mint: #f0fff0;

  /* Grays */
  --gray-light: #9ca3af;
  --gray-medium: #6b7280;
  --gray-dark: #1f2937;
}

body {
  font-family: var(--font-Poppins);
  background-color: var(--purity-ivory);
  color: var(--gray-800);
}

/* Você pode adicionar outros estilos globais aqui */
